
/* reset  */
button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.primary-button, .secondary-button  {
  justify-content: flex-start; 
  align-items: center; 
  display: flex;
  cursor: pointer;
  align-self: flex-end;
}


.primary-button a, .secondary-button a {
  align-self: stretch; 
  padding: 12px 24px; 
  position: relative;
  background-color: #002C5E;
  transition: 0.2s transform cubic-bezier(.1,.5,.15,1);
}


.primary-button a {
  background: #002C5E;
  background: linear-gradient(to right, #001A38 50%, #002C5E 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .2s cubic-bezier(.1,.5,.15,1);
}

 .secondary-button a { 
  background: linear-gradient(to right, #f3f3f3 50%,  #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
 }


.primary-button a .container-button, .secondary-button a .container-button{
 pointer-events: none;
 user-select: none;
 font-size: 16px; 
 font-family: Hyundai Sans Head; 
 font-weight: 500; 
 line-height: 20px;
 transition: 0.2s transform cubic-bezier(.1,.5,.15,1);
 display: inline-block;

}

.primary-button a .container-button {
 /* background-position: left bottom;*/
  color: #fff;
}

.secondary-button a .container-button{ 
 /* background-position: left bottom;*/
  color: #002C5E;
 }


@media (hover: hover) {

  .primary-button a:hover, .secondary-button a:hover {
    background-position: left bottom;
  }


}



 .primary-button a:active   {
     transform: scale(0.97);
  }

  .secondary-button a:active   {
     transform: scale(0.97);
  }

  body:has(.primary-button :active) .primary-button {
    background: : none;
  }



/* directional-selector-large-arrow */


.directional-selector-large-arrow {
  justify-content: flex-start; 
  align-items: center; 
  cursor: pointer;
}

.directional-selector-large-arrow a {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch; 
  outline: 1px solid #e6e6e6; 
  outline-offset : -1px;
  background-color: #fff;
  stroke: #002C5E; 
  transition: 0.2s  all linear;
}

.directional-selector-large-arrow a .fff-solid {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  outline: inherit;
  outline-offset: inherit;
  background: #fff;
  z-index: 10;
  opacity: 0;
}


.directional-selector-large-arrow svg {
   pointer-events: none; 
   transition: 0.2s all cubic-bezier(.1,.5,.15,1);
   opacity: 1;
}

.directional-selector-large-arrow svg .path-stroke {
   stroke: inherit;
}


@media (hover: hover) {

  .directional-selector-large-arrow a:hover {
    outline: 1px solid #002C5E; 
    outline-offset : -1px;
    background-color: #002C5E; 
    stroke: #fff;
  }

}


.directional-selector-large-arrow a:active {
  transform: scale(0.95); 
  background-color: #001A38 ; 
}


/* textlink states */

.textlink-medium, .textlink-small  {
 justify-content: flex-start; 
 align-items: center; 
 display: flex;
 cursor: pointer;

}

.textlink-medium a, .textlink-small a {
  align-self: stretch; 
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0px;
  color: #002C5E; 
  stroke: #002C5E;
  transition: 0.2s  all cubic-bezier(.1,.5,.15,1);
}


.textlink-medium a {
  gap: 8px;
}

.textlink-small a {
  gap: 4px;
}


.textlink-medium a .text-container, .textlink-small a .text-container{
  display: flex;
  user-select: none;
  color: inherit;
  /*font-size: 16px; */  /* defined in style.css based on breakpoint 14px or 16px*/
  font-family: Hyundai Sans Head; 
  margin-right: 8px;
  font-weight: 500; 
  line-height: 20px;
  transition: 0.2s  all cubic-bezier(.1,.5,.15,1);
  display: inline-block;
  margin: 0;
}


.textlink-medium a > svg, .textlink-small a > svg{
  display: flex;
  transform: rotate(-90deg);
}


.textlink-medium a > svg.chevron-medium-14x8 {
  margin-top: 5px;
  margin-left: -4px;
}


.textlink-small  a > svg.chevron-small-10x6 {
  margin-top: 5px;
  margin-left: -1px;
}


.textlink-medium  a > svg .path-stroke, .textlink-small  a > svg .path-stroke   {
   stroke: inherit;
}


@media (hover: hover) {

  .textlink-medium a:hover, .textlink-small a:hover{
    color: #001A38;  
    stroke: #001A38;  
  }

  .textlink-medium a:hover {
    gap: 12px;  
  }

  .textlink-small a:hover {
    gap: 8px;  
  }

}



  


/* disabled states */

.disable-button {
  pointer-events: none !important;
}

.disable-a {
  background-color: #e6e6e6 !important;
}

.disable-path {
  stroke: #888 !important;
}

