
@media screen and  (max-width: 720px){ 


  div.main .carousel-footer-desktop, div.main .carousel-header-desktop{

    display: none !important;
  }

  div.main .carousel-footer-tablet,  div.main .carousel-header-tablet{

    display: flex;
  }


}





@media screen and (min-width: 720px) and  (max-width: 1024px){ 

  div.main .filters-desktop, div.main .subhead-desktop,  div.main .carousel-footer-tablet, div.main .carousel-header-tablet {
    display: flex;
  }

   div.main .carousel-footer-desktop, div.main .carousel-header-desktop {
    display: none;
  } 

  div.main .subhead-mobile{
    display: none !important;
  }

  div.main .filters-desktop {
    width: 300px;
    padding-left: 33px;
    margin-right: 20px;
  }

  div.main .filters {
    padding-right: 20px;
    margin-right: 0px;
  }

  div.main .carousel-trims {
    width: calc(100vw - 460px);
  }

  div.main  .content {
    margin: 0;
    width:  calc(100vw - (33px + 353px));
  }

}


div.main .carousel-header-mobile {
  display: flex;
}

div.main .carousel-header-tablet {
  display: none;
}


@media screen and (min-width: 640px) and  (max-width: 720px){ 

 

  div.main .carousel-header-mobile {
    display: none;
  }

  div.main .carousel-header-tablet {
    display: flex;
  }


}

@media screen and (min-width: 720px) {

  div.main .filters-desktop {
    width: 320px;
  }

  div.main .content {

    width: calc(100vw - (33px + 373px));
  }

}


@media screen and (min-width: 720px) and  (max-width: 1024px){ 

  div.main .carousel-header-tablet {
    display: none;
  }

  div.main .carousel-header-mobile {
    display: flex;
  }


}

@media screen and (min-width: 840px) {

  div.main .filters-desktop {
      width: 380px;
  }

  div.main .content {

    width: calc(100vw - (33px + 433px));
  }


}


@media screen and (min-width: 1024px) and  (max-width: 1280px){ 

  div.main .carousel-header-tablet {
    display: flex;
  } 

   div.main .carousel-header-mobile {
    display: none;
  }

}

@media screen and (min-width: 1280px) { 

  div.main .carousel-header-tablet {
    display: none;
  } 

   div.main .carousel-header-desktop {
    display: flex;
  }

   div.main .carousel-header-mobile {
    display: none;
  }

}