/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* IUS Styles */

/*main nav */


header.desktop  {
 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1e21;
  height: 80px;
  width: 100%;

}

header.desktop .mainnav {
  width: 100%;
  height: 80px;
  max-width: 1920px;
 /* background-color: #333;*/
  display: flex;
  justify-content: space-between;
}

header.desktop .mainnav img:nth-child(1) {
  margin-left: 6rem;

}
 
header.desktop .mainnav img:nth-child(3) {
  margin-right: 6rem;

}


header.mobile  {

  display: none;
  align-items: center;
  justify-content: center;
  background-color: #1f1e21;
  height: 66px;
  width: 100%;
}


header.mobile .mainnav {
  width: 100%;
  height: 66px;
  max-width: 1440px;
  /*background-color: #333;*/
  display: flex;
  justify-content: space-between;

}


/* Container / Content   */

div.main {
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  overflow: hidden;
  background-color: #fff; /* #eee*/
  width: 100%;
}



div.main .container {
  width: 100%;
  max-width: 1920px;
  margin-top: 48px ;
  display: flex;
  
  justify-content: left;
  background-color: #fff; /* #ddd*/
}


div.main .filters {
  display: flex;
  flex-direction: column;
  width: 374px; /* 1920 */
  padding-right: 40px; /* 1920 */
}


div.main .filters-desktop {

  background-color: #fff; /* #ccc*/
/*  width: 414px;*/
  margin-right: 24px;
  padding-left: 40px;

}



div.main .filters-title {
  display: flex;
  align-self: left;
  margin-bottom: 16px;
}



div.main  .filters-list {
  display: flex;
  justify-content: space-between;
}


div.main .content {

  background-color: #fff; /* #bbb*/
  display: flex;
  width: 100%;
  flex-direction: column;
}

div.main .carousel-container {


  width: 100%;  /* 1290 */
  /*background-image: url("../img/bsi-desktop-carousel-background-v2-1920.jpg");*/
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}


div.main .carousel-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

div.main .carousel-trims  {
  margin-top: 16px;
}

div.main .carousel-trims ul  {
  display: inline-block;
  width: calc( 7 * (368px + 24px));
}

div.main .carousel-trims ul li {
  float: left;
  /*box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);*/
  margin-left: 24px;
}


div.main .carousel-header-desktop {
  display: none;
  padding: 24px 24px 0px 24px;
  justify-content: space-between;
  color: var(--neutral-gray-600, #333);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Hyundai Sans Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}




div.main .carousel-header-desktop .col1{

   display: flex;
   flex-direction: column;
   margin-right: 24px;
   margin-bottom: 24px;
   width: 302px;

}


div.main .carousel-header-desktop .col2{

   display: flex;
   flex-direction: column;
   margin-bottom: 24px;
   flex-grow: 1;
}


div.main .carousel-header-desktop .col3{

   display: flex;
   flex-direction: column;
   margin-left: 24px;
   margin-bottom: 24px;
   justify-content: flex-end;
   height: inherit;
}



div.main .col1 .copy{

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
  

}


div.main .carousel-header-desktop .disclaimer, div.main .carousel-header-tablet .disclaimer, div.main .carousel-header-mobile .disclaimer{


  color: var(--neutral-gray-400, #888);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Hyundai Sans Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;  

}


div.main .carousel-header-tablet .disclaimer{
  margin-top: 8px;
  text-align: left;
}

div.main .carousel-header-tablet {
  display: none;
  height: 304px;
  /* padding: 24px 24px 0px 24px; */
  justify-content: space-between;
  color: var(--neutral-gray-600, #333);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Hyundai Sans Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}




div.main .carousel-header-tablet .col1{

   display: flex;
   flex-direction: column;
   margin-right: 16px;
   margin-bottom: 16px;
   width: 264px;


}


div.main .carousel-header-desktop .col2{

   display: flex;
   flex-direction: column;
   margin-bottom: 24px;
   flex-grow: 1;
}

div.main .carousel-header-tablet .col2{

   display: flex;
   flex-direction: column;
   margin-bottom: 16px;
   justify-content: flex-end;
   align-items: flex-end;
}



div.main .col1 .copy p{

  justify-content: normal;
}


div.main  .carousel-header-desktop .col1 .copy .disclaimer{

   display: none;
}


div.main .col1 .pricing p{

  color: var(--neutral-gray-600, #333);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Caption/Regular */
  font-family: "Hyundai Sans Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
}



div.main .col1 .pricing h2{

  color: var(--Neutral-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Heading/Compact/03 */
  font-family: "Hyundai Sans Head";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; 

}



div.main .col2 { 

  align-items: center;
}

div.main .carousel-header-tablet .col2 .photo {

align-self: center;
}


div.main .col1 .photo img, div.main .col2 .photo img{

  object-fit: contain;

}



div.main .col3 {

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 302px;
}

div.main .col3 .disclaimer {

   display: none;
}


div.main .col3 .ctas {

  display: flex;
  flex-direction: column;

}

div.main .ctas h4 {

  text-align: right;
  color: var(--Primary-Navy, #002C5E);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Label/Head/Large */
  font-family: "Hyundai Sans Head";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 0;
  margin-bottom: 8px;
}


div.main .ctas h4 {

  text-align: right;
  color: var(--Primary-Navy, #002C5E);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Label/Head/Large */
  font-family: "Hyundai Sans Head";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 0;
  margin-bottom: 8px;
}

div.main .carousel-header-tablet .ctas  .primary-button {

  width: 200px;
}



div.main .carousel-header-mobile {
  display: none;
  padding: 16px 16px 0px 16px;
  justify-content: space-between;
}


div.main .carousel-header-mobile .years {
  height: 24px;
}


div.main .carousel-header-mobile .years label{
  color: var(--neutral-gray-400, #888);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Hyundai Sans Head";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
  padding: 4px 4px;
  margin-right: 8px;
}


div.main .carousel-header-mobile .years .active{
  color: var(--neutral-gray-600, #333);
  border-bottom: 2px solid var(--Secondary-Active-Blue, #00AAD2);
}

div.main .carousel-header-mobile .photo {
  margin-top: 16px;
}


div.main .carousel-header-mobile .photo img{
  height: 100%;
}


div.main .carousel-header-mobile .disclaimer{
  margin-top: 16px;

}

div.main .carousel-header-mobile .copy{
  margin-top: 16px;
  color: var(--neutral-gray-600, #333);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body/Small-Regular */
  font-family: "Hyundai Sans Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  height: auto;
}


div.main .carousel-header-mobile .title{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

div.main .carousel-header-mobile .col1 .pricing p{
  text-align: right;
}


div.main .carousel-header-mobile .title h2{
  color: var(--Neutral-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Heading/Compact/03 */
  font-family: "Hyundai Sans Head";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
  align-self: flex-end;
}

div.main .carousel-header-mobile .ctas {
  margin-top: 16px;
}

div.main .carousel-header-mobile .ctas .primary-button {
  width: 100%;
  margin: 16px 0;
}


div.main .carousel-header-mobile .ctas .build-inventory-links {
  display: flex;
  justify-content: space-between;
}



div.main .carousel-header-tablet {
  display: none;
  padding: 16px 16px 0px 16px;
  justify-content: space-between;
}


div.main .carousel-footer-desktop {
  margin-top: 16px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 24px 24px 24px;
}

div.main .carousel-header-desktop .primary-button, div.main .carousel-footer-desktop .secondary-button {

  width: 192px;

}


div.main .carousel-footer-tablet {

  display: none;
  flex-direction: column;
  padding: 0px 24px 24px 24px;
}

div.main .carousel-navigation-tablet {
  margin: 16px 0px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

div.main .carousel-navigation-tablet img:nth-child(1) {
  margin-left: 64px;
}

div.main .carousel-navigation-tablet img:nth-child(3) {
  margin-right: 64px;
}

div.main .carousel-footer-tablet .legal {
  margin: 16px 0;
  align-self: center;
}


div.main .carousel-footer-tablet .hideButton-mobile {
  width: 100px;
  margin: 16px 0;
  align-self: center;
}


div.main .subhead-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}




div.main .title-mobile {
  margin-bottom: 16px;

}

div.main .filters-mobile {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: calc( 100% - 48px);
  padding: 12px 24px;
  margin-bottom: 16px;
  /*border: 1px solid #E6E6E6;*/
  background: #fff;
 /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);*/
  border-radius: 40px;
  border: 1px solid var(--neutral-gray-200, #E6E6E6);
}

div.main .results-mobile {
    align-self: center;
    margin-bottom: 16px;
}




div.main .subhead-desktop {

  width: 100%;
  display: flex;
  flex-direction: column;

}


div.main .subhead-desktop h4{

 pointer-events: none;
 user-select: none;
 color: #333; 
 font-family: "Hyundai Sans Text";
 font-size: 14px;
 font-style: normal;
 font-weight: 400;

 padding-top: 2px;

}


div.main .subhead-sortandinventory {

  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}



 
@media screen and (max-width:640px) {
  
  div.main .content {
    margin: 0 16px;
    width: calc(100vw - 32px);
  }

 div.main .carousel-header-desktop {
    display: none;
  }

  div.main .carousel-header-tablet {
    display: none;
  }

  div.main .carousel-header-mobile, div.main .carousel-footer-tablet {
    display: flex;
  }


}


@media screen and (min-width:720px) {
  

  div.main .carousel-header-tablet .col1{
    width: 302px;
  }

  div.main .carousel-header-tablet .col2{
    width: calc(100% - (302px + 16px)) ;
  }





}




@media screen and (min-width: 640px)  and (max-width: 1024px) {  


    div.main .content {
    margin: 0 32px;
    width: calc(100vw - 64px);
  }

 
  div.main .carousel-header-mobile, div.main .carousel-footer-tablet {
    display: none;
  }


}



@media screen and (min-width: 640px)  and (max-width: 1279.99999px) {  



 
  div.main .carousel-header-tablet {
    display: flex;
  }


}








@media screen and (max-width: 1024px) {  


  header.mobile, div.main div.subhead-mobile   {

    display: flex;
  }

  header.desktop, div.filters-desktop, div.main .subhead-desktop  {

    display: none;
  }

  div.main .container {
    margin-top: 24px ;
  }


}


@media screen and (min-width: 1024px) {
  

  header.mobile, div.main  div.subhead-mobile  {

    display: none;
  }

  header.desktop, div.filters-desktop, div.main  div.subhead-desktop   {

    display: flex;
  }

  div.main .container {
    margin-top: 48px ;
  }

  div.main .content {
    margin: 0;
    width: 100%;
  }


  div.main  {
    overflow: hidden;

  }

  div.main .container {
    margin-top: 36px;
  }


 /* div.main .carousel-header-desktop, div.main .carousel-footer-desktop {
    display: flex;
  }

  div.main .carousel-header-mobile, div.main .carousel-footer-tablet {
    display: none;
  }
*/

  div.main .filters{
      width: 280px;
      padding-right: 20px;
  }


  div.main .filters-desktop {
    /*width: 300px;*/
    margin-right: 20px;
    padding-left: 42px;
  }

  div.main .content {
    padding-right: 42px;
  }

  div.main .carousel-trims {
    width : calc(100vw - 415px);
  }

  div.main .carousel-header-desktop {
    width:  calc(100vw - 456px);
    padding: 16px 16px 0px 16px;
  }


  div.main .carousel-header-tablet .col1 {
    width: 286px;
  }


   div.main .carousel-header-tablet .col2 {
    width: calc(100% - (286px + 16px));
  }

}

@media screen and (min-width: 1280px) {
   

  div.main .filters {
    width: 383px;
  }

  div.main .carousel-trims {
    width: calc(100vw - 500px);
  }

  div.main .carousel-header-desktop {
    width:  calc(100vw - 555px);
    padding: 24px 24px 0px 24px;
  }

  div.main .carousel-header-desktop .col1 {
      width: 160px;
      margin-right: 16px;
  }

  div.main .carousel-header-desktop .col3 {
      width: 160px;
      margin-left: 16px;
  }

  div.main .carousel-header-desktop .primary-button, div.main .carousel-footer-desktop .secondary-button {
    width: 160px;
  }

   div.main .carousel-header-desktop, div.main .carousel-footer-desktop {
    display: flex;
  }  

   div.main .carousel-header-tablet {
    display: none;
   }

   div.main .carousel-header-desktop .build-inventory-links  {
    display: flex;
    flex-direction: column;
   }


    div.main .carousel-header-desktop .build-inventory-links span:nth-child(1) {
      padding-bottom: 8px;
   }
}



@media screen and (max-width: 1280px) {
   
  header.desktop .mainnav img:nth-child(1) {
    margin-left: 1.25rem;

  }

  header.desktop .mainnav img:nth-child(3) {
    margin-right: 1.25rem;

  }


}





@media screen and (max-width: 1440px) {


  div.main .carousel-trims ul li img {
    width:  295px;
    height: 429px;
  }



  div.main .carousel-trims ul li {
    margin-left: 16px;
  }




  /*  div.main .carousel-header-desktop {

    }*/

    div.main .carousel-header-desktop picture:nth-child(1) img  {
      width: 113px;
      height: 70px;
    }

    div.main .carousel-header-desktop picture:nth-child(2) img {
      width: 200px;
      height: 32px;
    }



}
 

@media screen and (min-width: 1440px) {
  
  div.main .container {
    margin-top: 48px;
  }


  div.main .filters-desktop {
    margin-right: 20px;
    padding-left: 72px;
  }


  div.main .filters{
      width: 309px;
      padding-right: 40px;
  }


  div.main .content {
    padding-right: 72px;
  }

  
  div.main .carousel-header-desktop picture:nth-child(1) img {
    width: 185px;
    height: 88px;
  }

  div.main .carousel-header-desktop picture:nth-child(2) img{
    width: 228px;
    height: 49px;
  }

  div.main .carousel-header-desktop {
    width:  calc(100vw - 561px);
  }

  div.main .carousel-trims {
    width : calc(100vw - 513px);
  }


  div.main .carousel-trims ul li {
    margin-left: 24px;
  }

  div.main .carousel-trims ul li img {
    width:  368px;
    height: 543px;
  }

  div.main .carousel-header-desktop .primary-button,  div.main .carousel-footer-desktop .secondary-button  {
    width: 216px;
  }

    div.main .carousel-header-desktop .col1 {
      width: 302px;
      margin-right: 24px;
  }

  div.main .carousel-header-desktop .col3 {
      width: 302px;
      margin-left: 24px;
  }

  div.main .carousel-header-desktop .build-inventory-links  {
    display: inline-block;
    flex-direction: column;
   }


 }


 @media screen and (min-width: 1920px) {
   
  div.main .container {
    margin-top: 48px;
  }
 
  div.main .filters{
      width:  374px;
      padding-right: 40px;
  }

  div.main  {
    align-items: center;
    justify-content: center;

  }

  div.main .filters-desktop {
    /*width: 414px;*/
    margin-right: 24px;
    padding-left: 96px; 

  }

  div.main .content {
    padding-right: 96px;
  }

  div.main .carousel-trims {
    width : calc(1920px - 630px);
  }

  div.main .carousel-header-desktop {
    width:  calc(1920px - 630px);
  }


}





